body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
   
}

.container {
   max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(178, 163, 207, 0.5); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(172, 108, 202, 0.3); 
    margin-top: 1px;
    color: black;
}



input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #babaff;
    border-radius: 5px;
}

button {
 background-image: url(image.png);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background: scroll;

}

.weather-info {
    margin-top: 20px;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('background.webp'); 
    z-index: -1; 
    opacity: 0.7;
}   
.weather {
    margin-left: 300px;
    margin-top: 2lpx;
    font-size:7vmax;
    font-weight: 1000;
    position: relative;
    cursor: pointer;
    color: rgb(237, 237, 237); 
    z-index: 1; 
} 
h1 {
    font-size: 100px;
    color: red;
    z-index: 4;
    align-items: center;

}

.weather::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50vmax;
    height: 7px;
    background-color: rgb(133, 118, 172);
    transform: scaleX(0);
    transition: 0.5s;
} 

.weather:hover::after {
    transform: scaleX(1);
}
#searchButton{
    font-size: xx-large;
    color: rgb(78, 78, 246);
    border: 1px solid rgb(78, 78, 246);
    background: -webkit-radial-gradient();

}

